.home {
  background: linear-gradient(180deg, #090F1E 0%, #0D1425 100%);
  max-width: 1620px;
  margin: 0 auto 130px;
  border-radius: 60px;
  overflow: hidden;
  padding: 94px 0 120px;
  position: relative;
  z-index: 10;
  @include r($desktop) {
    padding: 50px 0 100px;
    border-radius: 40px;
  }
  @media (max-width: 1100px) {
    padding: 30px 0 70px;
    margin-bottom: 110px;
  }
  @include r($tablet) {
    margin-bottom: 80px;
  }
  @media (max-width: 850px) {
    padding-top: 0;
    padding-bottom: 50px;
  }
  @include r($phone) {
    padding-bottom: 40px;
  }

  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include bg;
    background-image: url("../images/home-bg.webp");
    @include r($lg) {
      background-position: 0 center;
    }
    @media (max-width: 960px) {
      background-position: center;
    }
    @media (max-width: 850px) {
      display: none;
    }
  }

  .container {
    @include r($desktop) {
      padding: 0 20px;
    }
    @include r($phone) {
      padding: 0 15px;
    }
  }

  .subtitle {
    @include r($phone) {
      font-size: 16px;
    }
  }

  &__decor {
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 50%;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background: linear-gradient(90deg, #376FFF 14.81%, #4EB5FF 100%);
    @media (max-width: 1400px) {
      max-width: 68%;
    }
    @include r($desktop) {
      max-width: 75%;
      height: 35px;
      bottom: -12px;
    }
    @media (max-width: 850px) {
      bottom: -8px;
      max-width: 80%;
    }
    @include r($sm) {
      max-width: 70%;
      bottom: -7px;
    }
  }

  &__inner {
    @media (max-width: 850px) {
      display: flex;
      gap: 40px;
      align-items: center;
      text-align: center;
      flex-direction: column-reverse;
    }
  }

  &__content {
    max-width: 640px;
    @include r($desktop) {
      max-width: 520px;
    }
    @media (max-width: 960px) {
      max-width: 470px;
    }
  }

  &__title {
    font-size: 72px;
    line-height: 1.15;
    font-weight: 700;
    letter-spacing: -2.88px;
    margin-bottom: 46px;
    @media (max-width: 1400px) {
      font-size: 68px;
      line-height: 1.12;
    }
    @media (max-width: 1300px) {
      font-size: 64px;
      margin-bottom: 34px;
    }
    @include r($desktop) {
      font-size: 60px;
    }
    @media (max-width: 1100px) {
      font-size: 58px;
    }
    @media (max-width: 1060px) {
      font-size: 56px;
    }
    @include r($lg) {
      font-size: 52px;
    }
    @media (max-width: 960px) {
      font-size: 50px;
    }
    @media (max-width: 880px) {
      font-size: 48px;
    }
    @include r($tablet) {
      font-size: 44px;
      letter-spacing: -2px;
    }
    @media (max-width: 640px) {
      font-size: 40px;
      max-width: 340px;
      margin: 0 auto 30px;
      line-height: 1.2;
      letter-spacing: -1.4px;
    }
    @media (max-width: 530px) {
      font-size: 38px;
      letter-spacing: -1.2px;
    }
    @include r($phone) {
      font-size: 34px;
    }
    @media (max-width: 410px) {
      font-size: 32px;
    }
    @media (max-width: 380px) {
      font-size: 30px;
    }
  }

  &__text {
    line-height: 1.5;
    font-weight: 500;
    color: rgba($white, .65);
    margin-bottom: 48px;
    @include r($tablet) {
      margin-bottom: 34px;
    }
  }

  &__actions {
    @include flex-align-center(12);
    @media (max-width: 850px) {
      justify-content: center;
    }
    @media (max-width: 415px) {
      flex-wrap: wrap;
      gap: 18px 12px;
    }
  }

  &__img {
    @include objectCoverBg;
    display: none;
    @media (max-width: 850px) {
      display: block;
      border-radius: 50%;
    }
    @include r($tablet) {
      width: 300px;
      height: 300px;
    }
    @media (max-width: 640px) {
      width: 270px;
      height: 270px;
    }
    @include r($phone) {
      width: 255px;
      height: 255px;
    }
    @media (max-width: 410px) {
      width: 245px;
      height: 245px;
    }
  }
}

.wrapper {
  position: relative;
  padding: 0 15px;
}