.header {
  margin: 20px 0 60px;
  @include r($lg) {
    margin-bottom: 45px;
  }
  @include r($phone) {
    margin: 17px 0 40px;
  }

  &__inner {
    display: flex;
    gap: 30px;
    align-items: center;
    @media (max-width: 880px) {
      gap: 20px;
      position: relative;
      z-index: 500;
    }
  }

  &__nav {
    border-radius: 127px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: #0B1328;
    padding: 8px 11px;
    margin: 0 auto;
    @media (max-width: 880px) {
      display: none;
    }

    &.mobile {
      display: none;
      @media (max-width: 880px) {
        display: flex;
        justify-content: center;
        padding: 28px 40px;
        max-width: 340px;
        width: 100%;
        border-radius: 20px;
      }
      @include r($phone) {
        background-color: transparent;
        border: none;
        border-radius: 0;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
      }
    }
  }

  &__list {
    @include flex-align-center(17);
    @include r($lg) {
      gap: 12px;
    }
    @media (max-width: 880px) {
      flex-direction: column;
      gap: 18px;
      width: 100%;
      @include r($phone) {
        width: auto;
        align-items: flex-start;
        gap: 40px;
      }
      li {
        width: 100%;
        @include r($phone) {
          width: auto;
        }
      }
    }
  }

  &__link {
    @include flex-align-center(0);
    justify-content: center;
    border-radius: 60px;
    transition: background-color .4s, color .4s, opacity .4s, border .4s;
    padding: 8px 18px;
    @include r($phone) {
      font-size: 18px;
      padding: 0;
    }

    &:hover {
      color: #6896ff;
    }

    &:focus {
      background-color: $accent;
      color: $white;
      @include r($phone) {
        background-color: transparent;
        color: $accent;
      }
    }
  }

  &__logo, &__actions {
    max-width: 180px;
    width: 100%;
    display: flex;
    @include r($tablet) {
      max-width: max-content;
    }
  }

  &__logo {
    img {
      @include r($sm) {
        width: auto;
        height: 32px;
      }
      @media (max-width: 385px) {
        height: 30px;
      }
    }
  }

  &__actions {
    justify-content: flex-end;
    @media (max-width: 880px) {
      margin-left: auto;
    }
  }

  &__btn {
    @include r($phone) {
      display: none;
    }

    &.mobile {
      display: none;
      @include r($phone) {
        display: flex;
        font-size: 17px;
      }
    }
  }

  &__mobile {
    @include flex-column(30);
    padding: 135px 45px 30px;
    display: none;
    pointer-events: none;
    user-select: none;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #192238;
    transform: translateX(100%);
    height: 100vh;
    transition: transform .7s ease-in-out;
    @media (max-width: 880px) {
      display: flex;
      align-items: flex-start;
      pointer-events: auto;
      user-select: auto;
    }
    @include r($lg) {
      padding: 135px 40px 30px;
    }
    @media (max-width: 870px) {
      padding: 135px 35px 30px;
    }
    @include r($tablet) {
      padding: 135px 35px 30px;
    }
    @include r($sm) {
      padding: 135px 35px 30px;
    }
    @include r($phone) {
      padding: 120px 15px 30px;
    }
    @media (max-width: 450px) {
      padding-top: 125px;
    }

    &.active {
      transform: translateX(0);
    }
  }
}